*:not(.border-box-override) {
  box-sizing: border-box;
}

body {
  background-color: #0e1219;
  color: whitesmoke;
  font-family: "Consolas", "Courier New", monospace;
  margin: 0;
}

.body-margin {
  margin: 8px;
}

p.extra-margin {
  margin-block-end: 2em;
}

.pre-line {
  white-space: pre-line;
}

:link {
    color: #23cec0;
}

:visited {
    color: #266bba;
}

.flex {
  display: flex;
}
.bflex {
  display: flex;
  flex-wrap: wrap;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  overflow: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
}

nav {
  display: flex;
  padding: 8px;
  border: 3px solid #141a24;
  border-radius: 6px;
  > a {
    padding: 6px 8px;
    border: 1px solid darkgrey;
    &:not(:first-child):not(div + *) {
      border-left: 0;
    }
    &:hover {
      background-color: #2f3033;
    }
  }
  > div {
    flex-grow: 1;
  }
}
