body {
  background-color: #0D1117;
  color: whitesmoke;
  font-family: "Consolas", "Courier New", monospace;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.flex, .bflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header > a {
  float: left;
  padding: 4px 6px;
}
