body {
  background-color: #0e1219;
  color: whitesmoke;
  font-family: "Consolas", "Courier New", monospace;
}

:link {
    color: #23cec0;
}

:visited {
    color: #266bba;
}

.flex, .bflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
  display: flex;
  border: 1px solid white;
}
nav > a {
  padding: 6px 8px;
  &:hover {
    background-color: #2f3033;
  }
}
nav > div {
  flex-grow: 1;
}
