---
title: blog
layout: page
style:
  - base
  - blog
---
<h1>blog</h1>

<h2 class="sr-only">posts</h2>
Nothing to see here!
<!--
<div id=blog>
  <aside>
    {% for tag in site.tags %}
    <details>
      <summary>{{ tag[0] }}</summary>
      {% for post in tag[1] %}
      <a href="{{ post.url }}">{{ post.ititle | default: post.title }}</a>
      {% endfor %}
    </details>
    {% endfor %}
  </aside>
  <div>  
    {% for post in site.posts %}
    {% unless post.hidden %}
    <a href="{{ post.url }}">
      {% if post.img %}
      <img src="/assets/{{ post.img }}">
      {% endif %}
      <h3>{{ post.ititle | default: post.title }}
      </h3>
      <p class="pre-line">{% if post.summary %}{{ post.summary }}{% endif %}</p>
    </a>
    {% endunless %}
    {% endfor %}
  </div>
</div>
-->
