* {
  box-sizing: border-box;
}

body {
  background-color: #0e1219;
  color: whitesmoke;
  font-family: FreeMono, monospace;
  margin: 0;
}

code {
  display: inline-block;
  background-color: #141a24;
  padding: 4px;
  border-radius: 6px;
}

.body-margin {
  margin: 8px;
}

p.extra-margin {
  margin-block-end: 2em;
}

.pre-line {
  white-space: pre-line;
}

:link {
    color: #23cec0;
}

:visited {
    color: #266bba;
}

.flex {
  display: flex;
}
.bflex {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-grow: 1;
    &:not(.bflex) {
      padding: 0 16px;
    }
  }
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  overflow: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0 solid transparent;
}
