@media (max-width: 600px) {
  #blog {
    grid-template-columns: 1fr !important;
  }
}

#blog {
  margin: 4px;
  border: 2px solid #141a24;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 200px 1fr;
  overflow-x: auto;
  > aside {
    background-color: #121821;
    border-radius: 6px;
    overflow: hidden;
    > details {
      padding: 16px;
      /* word-break: break-all; */
      box-shadow: #0e1219 0px -16px 12px -8px inset;
    }
  }
  > div {
    padding: 8px;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    > a {
      border-color: #15263f;
      transition: border-color 0.2s;
      &:hover {
        border-color: #2a4c7f;
      }
    }
    > * {
      text-decoration: inherit;
      color: inherit;
      min-height: 100px;
      min-width: max(40%, min(400px, 100%));
      /* any percent in (33.4%, 50%) works */
      padding: 8px;
      border: 2px solid #141a23;
      border-radius: 6px;
      flex-grow: 1;
      flex-basis: 0px;
      /* word-break: break-all; */
      > img {
        height: 80px;
        width: 80px;
        margin-right: 6px;
        border-radius: 6px;
        float: left;      
      }
      > * {
        margin: 0;
        /* word-wrap: break-all; */
      }
    }
  }
}
