#links {
  margin: 4px;
  border: 2px solid #141a24;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  overflow-x: scroll;
  > * {
    display: block;
    text-decoration: inherit;
    color: inherit;
    padding: 8px;
    border: 1px solid #141a23;
    border-radius: 6px;
    flex-grow: 1;
    flex-basis: 0px;
    min-width: max(22%, min(240px, 100%));
    word-break: break-all;
  }
  > a {
    border-color: #15263f;
    transition: border-color 0.2s;
    &:hover {
      border-color: #2a4c7f;
    }
  }
}
