header {
  margin-top: 20px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  > img {
    max-width: 100%;
    max-height: 25vh;
  }
  > div {
    width: 100%;
    height: 100%;
    border: 2px solid #141a24;
    border-radius: 6px;
    position: absolute;
    z-index: -1;
  }
}

hgroup {
  margin-block: 1.33em;
  * {
    margin: 0;
    font-weight: bold; 
  }
}

.v-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-grow: 1;
    flex-basis: 0px;
    /* ensures that all elements have equal width. questionable.*/
    min-width: max(30%,240px);
    border: 2px solid #141a24;
    border-radius: 6px;
    padding: 10px;
    > div {
      padding: 5px;
    }
  }
}
details > ul {
  padding: 0;
  margin: 8px 0;
  list-style-type: none;
}

.eightyeightbythirtyone {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 3px solid #141a24;
  > * {
    flex: none;
    font-size: 0;
    line-height: 0;
  }
}
