header {
  margin-top: 20px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  > img {
    max-width: 100%;
    max-height: 25vh;
  }
  > div {
    width: 100%;
    height: 100%;
    border: 2px solid #141a24;
    border-radius: 6px;
    position: absolute;
    z-index: -1;
  }
}

hgroup {
  margin-block: 1.33em;
  * {
    margin: 0;
    font-weight: bold; 
  }
}

.v-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-grow: 1;
    flex-basis: 0px;
    /* ensures that all elements have equal width. questionable.*/
    min-width: max(30%,240px);
    border: 2px solid #141a24;
    border-radius: 6px;
    padding: 10px;
    > div {
      padding: 5px;
    }
  }
}
details > ul {
  padding: 0;
  margin: 8px 0;
  list-style-type: none;
}

.links {
  padding: 10px;
  border: 3px solid #141a24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: center;
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    > * {
      aspect-ratio: 88 / 31;
      vertical-align: middle;
      image-rendering: pixelated;
      font-size: 0;
      line-height: 0;
    }
  }
}
