<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/smug-favi.png">
  <link rel="stylesheet" href="/style/navbar.css">
  {% for slug in page.style %}
  <link rel="stylesheet" href="/style/{{ slug }}.css">
  {% endfor %}
  {% if page.style-internal %}
  <style>
  {{ page.style-internal }}
  </style>
  {% endif %}
</head>

<body>
<div class="body-margin">

{% include navbar.html %}

{{ content }}

</div>

{% include footer.html %}

</body>
</html>
